###### Series 클래스 - 데이터(리스트, 튜플, 딕셔너리)가 순차적으로 1차원 리스트 형태를 갖는다.

In [11]:
import pandas as pd

dict_data = {'a': 1, 'b': 2, 'c': 3}

pd.Series(dict_data)

sr = pd.Series(dict_data)
print(sr)
print(type(sr))

a    1
b    2
c    3
dtype: int64
<class 'pandas.core.series.Series'>

In [15]:
# 리스트로 시리즈 만들기
list_data = ['2024-08-22', 10, 'apple', True]

sr = pd.Series(list_data)
# print(sr)
# print(sr.index)
print(sr.values)

['2024-08-22' 10 'apple' True]

In [47]:
import pandas as pd
height = [143, 150, 157, 160]
index=['2018', '2019', '2020', '2021']
growth = pd.Series(height, index=index, name="Height")
print(growth)
print(growth['2019'])
# loc[행(문자)], iloc[인덱스(숫자)]
print(growth.loc['2019'])
print(growth.iloc[0])

2018    143
2019    150
2020    157
2021    160
Name: Height, dtype: int64
150
150
143

### 실습1

In [58]:
import pandas as pd
quantity = ["4 cups", "1 cups", "2 large", "1 can"]
ingredients=['밀가루', '우유', '계란', '참치캔']
dinner_series = pd.Series(quantity, index=ingredients, name="Dinner")
print(dinner_series)

밀가루     4 cups
우유      1 cups
계란     2 large
참치캔      1 can
Name: Dinner, dtype: object