##### pandas - DataFrame 클래스 : 행(row)과 열(column)로 이루어진 2차원 리스트이다.

In [4]:
import pandas as pd
index=['2018', '2019', '2020', '2021']

younghee = pd.Series([143, 150, 157, 160], index=index)
cheolsu = pd.Series([165, 172, 175, 180], index=index)

growth = pd.DataFrame({
    '영희': younghee,
    '철수': cheolsu
})
growth

       영희   철수
2018  143  143
2019  150  150
2020  157  157
2021  160  160

In [69]:
# 일반적인 데이터프레임 만들기
index=['2018', '2019', '2020', '2021']
data = {
    '영희':[143, 150, 157, 160],
    '철수':[165, 172, 175, 180]
}

growth = pd.DataFrame(data, index=index)
# growth
# print(growth.columns)
# print(growth.values)

# print(growth['철수'])
# print(growth[['영희','철수']])
# print(growth[['철수']])

# print(growth.loc['2020'])
# print(growth.iloc[2])

# # 다중 행 선택
# print(growth.loc[['2020', '2021']])
# print(growth.iloc[[2, 3]])
growth.loc['2022'] = [162, 181]
print(growth)

# 복사 - copy()
growth2 = growth.copy()
growth2 = growth2.drop('2020')
print(growth2)

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180
2022  162  181
       영희   철수
2018  143  165
2019  150  172
2021  160  180
2022  162  181

In [38]:
index=['2018', '2019', '2020', '2021']
data = {
    '영희':[143, 150, 157, 160],
    '철수':[165, 172, 175, 180]
}

growth = pd.DataFrame(data, index=index)

print(growth)

growth.loc['2020', '철수']
growth.iloc[2,1]

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

175

#### 실습 2. 데이터 프레임 만들기

In [61]:
index=['재천', '선영', '일성']
data = {
    '국어':[90, 80, 70],
    '수학':[80, 75, 95],
    '영어':[85, 95, 100]
}

growth = pd.DataFrame(data, index=index)


growth['과학'] = [88, 92, 85]
growth.loc['용준'] = [83, 87, 94, 79]
print(growth)

    국어  수학   영어  과학
재천  90  80   85  88
선영  80  75   95  92
일성  70  95  100  85
용준  83  87   94  79

In [77]:
# csv 파일 만들기
index=['2018', '2019', '2020', '2021']
data = {
    '영희':[143, 150, 157, 160],
    '철수':[165, 172, 175, 180]
}

growth = pd.DataFrame(data, index=index)
# growth.to_csv('./datas/growth.csv')

# csv 파일 읽기 - to_read_csv(경로)
growth = pd.read_csv('./datas/growth.csv', index_col=0)
print(growth)

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [15]:
# 2차원 리스트 데이터로 프레임 만들기
import pandas as pd
data = [[143, 165], [150, 172], [157, 175], [160, 180]]
index=['2018', '2019', '2020', '2021']

growth = pd.DataFrame(data,columns=['영희','철수'], index=index)
# print(growth)
# print(growth['영희'])

growth['시현'] = [155, 160 , 165, 170]
print(growth)

growth.loc['2022'] = [162, 181, 172]
print(growth)

# 복사 - copy()
growth2 = growth.copy()
growth2 = growth2.drop('2020', axis=0)
print(growth2)

growth3 = growth.copy()
growth3 = growth3.drop('철수', axis=1)
print(growth3)

       영희   철수   시현
2018  143  165  155
2019  150  172  160
2020  157  175  165
2021  160  180  170
       영희   철수   시현
2018  143  165  155
2019  150  172  160
2020  157  175  165
2021  160  180  170
2022  162  181  172
       영희   철수   시현
2018  143  165  155
2019  150  172  160
2021  160  180  170
2022  162  181  172
       영희   시현
2018  143  155
2019  150  160
2020  157  165
2021  160  170
2022  162  172

In [25]:
# 얕은 복사와 깊은 복사
# 얕은 복사 - 원본도 같이 수정됨, 깊은 복사 - 원본은 유지 copy()
a = [1, 2, 3, 4]
b = a
b[1] = 10
print(a, b)
c = [1, 2, 3, 4]
d= c.copy()
d[1] = 10
print(c,d)

[1, 10, 3, 4] [1, 10, 3, 4]
[1, 2, 3, 4] [1, 10, 3, 4]

In [37]:
import pandas as pd

# 칼럼을 인덱스로 설정하는 방법
data = {
    '연도':['2018', '2019', '2020', '2021'],
    '영희':[143, 150, 157, 160],
    '철수':[165, 172, 175, 180]
}

growth = pd.DataFrame(data)
growth = growth.set_index('연도')
print(growth)

       영희   철수
연도
2018  143  165
2019  150  172
2020  157  175
2021  160  180